{% extends "home/base/empty.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/parameters.js"></script>
{% endblock %}

{% block sidebar %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div id="login" class="container-center">
    <div class="center">
        <form id="login-form" action="/login/" method="post">
            {% csrf_token %}

            <span class="logo">MBHS<span class="primary">Home</span></span>
            <input name="username" type="text" class="form-control" placeholder="username">
            <input name="password" type="password" class="form-control" placeholder="password">
            <div class="login-under">

                <label id="error"></label>
                <script type="text/javascript">
                    if (parameters.hasOwnProperty("error")) {
                        var error = $("#error")[0];
                        if (parameters["error"] === "1") error.innerHTML = "Invalid credentials!";
                        else if (parameters["error"] === "2") error.innerHTML = "Insufficient permission!";
                        error.classList.add("visible");
                    }
                </script>

                <button name="help" type="button" class="btn btn-custom">Help</button>
                <button name="submit" type="submit" class="btn btn-primary">Login</button>

                {% if notice %}
                    <div id="notice">{{ notice }}</div>
                {% endif %}

            </div>
        </form>

    </div>
</div>
{% endblock %}
