[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django_polymorphic = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
django-crispy-forms = "*"
django-oidc-provider = "*"
djangorestframework = "*"
PyYAML = "*"
"psycopg2" = "*"
gunicorn = "*"
Django = "==1.11"


[dev-packages]

