[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-polymorphic = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
django-crispy-forms = "*"
django-oidc-provider = "*"
djangorestframework = "*"
pyyaml = "*"
"psycopg2" = "*"
gunicorn = "*"
django = "==1.11"
django-sass-processor = "*"


[dev-packages]

django-compressor = "*"
