{% load full_name %}
{% load version_control %}
{% load sass_tags %}

<html lang="en-US">
    <head>
        <title>MBHS - {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        {% include "base/bootstrap.html" %}
        <link rel="stylesheet" type="text/css" href="{% sass_src "css/home.scss" %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block menubar %}
        <div id="menubar">
            <a class="item" href="{% url "home:index" %}">Home</a>
            <a class="item disabled">{% commit_hash_short %}</a>
            <a class="item right" href="{% url "home:logout" %}">
                {% if user.is_authenticated %} Logout {% else %} Login {% endif %}
            </a>
            {% if user.is_staff %}
            <a class="item right" href="{% url "admin:index" %}">Admin</a>
            {% endif %}
            <a class="item right" href="{% url "home:account" %}">{{ user.get_full_name }}</a>
        </div>
        {% endblock %}
        <div id="main">
            <div id="sidebar" class="col-lg-2 col-md-4 col-sm-4 no-float">
                <div class="menu">
                    {% block sidebar %}
                        {% if user.profile.type == "student" %}
                            {% include "home/student/sidebar.html" %}
                        {% endif %}
                    {% endblock sidebar %}
                </div>
            </div>
            <div id="content" class="col-lg-10 col-md-8 col-sm-8 no-float {% block class %}{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
