<a class="item">Dashboard</a>
<a class="item">News</a>
<a class="item">Courses</a>
<a class="item">Friends</a>
<a class="item" href="{% url "groups:index" %}">Groups</a>
<div class="section">Groups</div>
{% if user.groups.length > 0 %}

{% else %}
    <a class="item" href="{% url "groups:list" %}">Add...</a>
{% endif %}
<div class="section">Account</div>
<a class="item">Profile</a>
<a class="item" href="{% url "oauth2_provider:list" %}">Applications &#x2713;</a>
<a class="item">Settings</a>
<a class="item" href="{% url "home:logout" %}">Logout &#x2713;</a>
