{% extends "base/base.html" %}

{% block title %}Create a Group{% endblock %}

{% block content %}
<h1>Create a group</h1>
<p>Before creating a group, consider what kind of group it should be represented as. The list of available group types
and their respective descriptions are displayed below.</p>

<h2>Club</h2>
<p>Club groups are for organized, extracurricular activities hosted at Blair, and include sports and academic groups.
Club groups require a teacher or staff sponsor and must be approved by the club administrator at Blair.<br>
<a href={% url "groups:create" typeof="club" %}>Create &rightarrow;</a></p>

<h2>Academic</h2>
<p>Academic groups are largely reserved for teachers, staff, and administrators at Blair. They provide a means of
communication with student, and can serve as a platform for organizing school events.<br>
<a href={% url "groups:create" typeof="academic" %}>Create &rightarrow;</a></p>

<h2>Administrative</h2>

<h2>External</h2>

{% endblock %}
