@import "theme";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row.menubar {
  display: block;
}

.row.main {
  flex-grow: 1;
}

#sidebar, #main {
  flex-grow: 1;
}

#menubar {

  width: 100%;
  height: 3.5em;
  line-height: 3.5em;
  background-color: $primary;
  padding: 0 1em;
  vertical-align: middle;

  .item {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: white !important;
    margin-right: 1.5em;
  }

  .item.right {
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
  }

}

#sidebar {

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  .menu {

    flex-grow: 1;

    white-space: nowrap;
    color: #ccc;
    background-color: #555;
    margin-top: 0;
    box-sizing: border-box;

    padding-bottom: 1em;

    .item, .section {
      padding: 0.25em 1em;
      text-decoration: none;
      color: inherit;
      display: block;
    }

    .section {
      padding-top: 1em;
      font-weight: bold;
    }

    .item {
      cursor: pointer;
    }

    .item:hover {
      color: inherit;
      background-color: #666;
    }

  }

}

#main {

  padding: 0;
  width: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  #content {

    flex-grow: 1;

    overflow-y: scroll;  // Could be better
    padding: 1.5em 2em;

    h1 { font-size: 48px; }

  }

}

#dialog {
  margin: 2rem auto;
}

@media (max-width: 575px) {
  #main #sidebar { height: auto; }
  #main #content { overflow-y: visible; }
}
