@import "theme";

body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#menubar { display: block; }
#main { flex-grow: 1; display: flex; flex-direction: row; }

#sidebar, #content { flex-grow: 1; }

#menubar {

  width: 100%;
  height: 3.5em;
  line-height: 3.5em;
  background-color: $primary;
  padding: 0 1em;
  vertical-align: middle;

  .item {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: white !important;
    margin-right: 1.5em;
  }

  .item.right {
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
  }

}

#sidebar {

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  .menu {

    flex-grow: 1;

    white-space: nowrap;
    color: #ccc;
    background-color: #555;
    margin-top: 0;
    box-sizing: border-box;

    padding-bottom: 1em;

    a:first-child {
      margin-top: 0.75em;
    }

    .item, .section {
      padding: 0.25em 1em;
      text-decoration: none;
      color: inherit;
      display: block;
    }

    .section {
      padding-top: 1em;
      font-weight: bold;
    }

    .item {
      cursor: pointer;
    }

    .item:hover {
      color: #ccc;
      background-color: #666;
    }

    .item.disabled:hover {
      background-color: inherit;
    }

  }

}

#main {

  padding: 0;
  width: 100%;

  #content {

    flex-grow: 1;

    overflow-y: scroll;
    padding: 1.5em 2em;

    h1 { font-size: 48px; }

  }

}

#dialog {
  margin: 2rem auto;
}

@media (max-width: 575px) {
  #main { display: block; }
  #main #sidebar { height: auto; width: 100%; }
  #main #content { overflow-y: visible; }
}
