@import "theme";

#content.oauth {
  h2 { margin-bottom: 1rem; }
}

#content.oauth.application_list {
  h1 {
    margin-bottom: 1.25rem;
  }

  #applications {
    margin-top: 1rem;
    width: 100%;

    td, th { padding: 0 0.5rem; }

    th {
      height: 2rem;
      font-size: 1.2rem;
      border-bottom: 1px solid black;
    }

    tr {
      td { height: 2.5rem; }
      ~ tr { border-top: 1px solid lightgray; }
    }

    tr:hover {
      td { /*background-color: mix($primary, transparent, 4%)*/ }
    }

    .name { width: 50%; }
  }
}

#content.oauth.application_detail {
  h1 { margin-bottom: 1rem; }
  input { width: 100%; }
  textarea { width: 100%; min-height: 10rem; }
}
