{% load full_name %}

<html lang="en-US">
    <head>
        <title>MBHS - {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        {% include "home/base/bootstrap.html" %}
        <link rel="stylesheet" type="text/css" href="/static/css/home.min.css">
        {% block head %}{% endblock %}
    </head>
    <body class="container-fluid">
        {% block menubar %}
        <div class="row menubar">
            <div id="menubar">
                <a class="item" href="{% url "index" %}">Home</a>
                <a class="item right" href="{% url "logout" %}">
                    {% if user.is_authenticated %} Logout {% else %} Login {% endif %}
                </a>
                <a class="item right" href="{% url "account" %}">{{ user.get_full_name }}</a>
            </div>
        </div>
        {% endblock %}
        <div class="row main">
            {% block sidebar %}
            <div id="sidebar" class="col-lg-2 col-md-4 col-sm-4 no-float">
                <div class="menu">
                    <div class="section">Dashboard</div>
                    <a class="item">News</a>
                    <a class="item">Courses</a>
                    <a class="item">Friends</a>
                    <div class="section">Groups</div>
                    <a class="item">Add groups...</a>
                    <div class="section">Counseling</div>
                    <a class="item">Meetings</a>
                    <div class="section">Account</div>
                    <a class="item">Profile</a>
                    <a class="item">Settings</a>
                </div>
            </div>
            {% endblock sidebar %}
            <div id="main" class="col-lg-10 col-md-8 col-sm-8 no-float">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
