<div class="list-group panel">
    <div class="header">
        <a class="item" href="{% url "index" %}">Home</a>
    </div>
    <div class="menu">
        <div class="section">Dashboard</div>
        <a class="item">News</a>
        <a class="item">Courses</a>
        <a class="item">Friends</a>
        <div class="section">Groups</div>
        <a class="item">Add groups...</a>
        <div class="section">Counseling</div>
        <a class="item">Meetings</a>
        <div class="section">Account</div>
        <a class="item">Profile</a>
        <a class="item">Settings</a>
    </div>
</div>

<!--
Account
Groups
Courses
Friends
-->
